<div *ngIf="!showLoader; else loader" class="container">
  <div class="header">
    asda

    <button appearance="flat" tuiButton type="button" (click)="logOut()">
      Выйти
    </button>
  </div>
  <div class="search-input-wrapper">
    <tui-input [formControl]="searchValue" class="search-input">
      Поиск вакансий
    </tui-input>
  </div>
  <div class="vacancy-card-wrapper">
    <app-vacancy-card
      *ngFor="let vacancy of vacancies | vacanciesFilter : searchValue.value"
      [vacancy]="vacancy"
    ></app-vacancy-card>
  </div>
</div>

<ng-template #loader>
  <div class="loader-container">
    <tui-loader></tui-loader>
  </div>
</ng-template>
