<div class="vacancy-card">
  <div class="flex-wrapper">
    <div class="vacancy-card-name">
      {{ vacancy.name }}
    </div>
    <div
      class="vacancy-card-logo"
      *ngIf="vacancy.employer?.logo_urls?.original"
    >
      <img [src]="vacancy.employer?.logo_urls?.[240]" alt="" />
    </div>
  </div>
  <div class="vacancy-card-company-name">
    {{ vacancy.employer?.name }}
  </div>
  <div class="vacancy-salary-wrapper">
    <span class="vacancy-card-salary">{{ vacancy.salary | salaryPipe }}</span>
    <span class="vacancy-card-currency">
      {{ vacancy.salary | salaryCurrencyPipe }}
    </span>
  </div>

  <div class="vacancy-card-experience">
    <span class="experience">{{ vacancy.experience.name }}</span>
    <span class="employment">{{ vacancy.employment.name }}</span>
  </div>
  <div class="vacancy-card-requirement">
    {{ vacancy.snippet.requirement }}
  </div>

  <button
    size="m"
    appearance="primary"
    tuiButton
    type="button"
    class="vacancy-card-button"
  >
    Подробнее
  </button>
</div>
